.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  float: left;    
}

#main {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  float: right;
}

#footer-links {
  width: 640px;
}

.container {
  padding: 10px 0;
  width: 450px;
  margin: auto;
  border: solid thin;
  border-color: rgb(162, 162, 162); 
}

h1 {
  margin: 10px 0;
  text-align: center;
  font-size: 40px;
}

#cute-kitty {
  width: 300px; /*can be in percentage also.*/
  margin: 0 auto;
}

button {
  width: 100%; /*can be in percentage also.*/
  height: 100%;
}

#login-button {
  width: 300px;
  height: 40px;
  margin: 0 auto;
  padding: 25px 0;    
}

img {
  border-radius: 50%;
  padding: 20px 0;    
}

#logout {
  margin: 7.5px auto;
  width: 320px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0;  
}
