/*****              variables               *******/
:root {
    --primary-background-color: white;
    --secondary-background-color: #fafafa;
}


/******             html tags               *******/
html{
    background-color: var(--secondary-background-color);
}

html, body, ul{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 40px;
}

li {
    display: inline-block;
}

button {
    width: 100%;
    height: 100%;
}

img {
    border-radius: 50%;
    padding: 20px 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

/******             id tags                 ********/
#main {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cute-kitty {
    width: 200px; 
    height: 200px;
    margin: 35px auto;
}

#login-display {
    padding: 25px 0;
    text-align: center;
    width: 550px;   
    background-color: var(--primary-background-color);
    margin: auto;
    margin-top: auto;

}

#login-button {
    width: 300px;
    height: 40px;
    margin: 0 auto;
    padding: 25px 0;    
}

#footer-links {
    text-align: center;
}

#footer-links li {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
}

#logout {
    display: inline-block;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;  
}

/******             class tags               *******/



.border {
    border: solid thin;
    border-color: rgb(162, 162, 162); 
}

/*******            media queries           *******/

@media (min-width: 720px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }

    #footer-links {
        display: block;
        float: left;
        max-width: 620px;
    }

    #logo {
        display: block;
        float: right;
    }
}